body {
    margin: 0;
}
#gray {
    height: 15px;
    background-color: darkgray;
}
h1 {
    margin: 0;
    text-align: center;
    background-color: darkgray;
    height: 50px;

}
.hidden {
    background-image: url("../img/jebi_open.png") !important;
    margin-left: 85px !important;
    /*background-size: auto 300px;
    background-repeat: no-repeat;*/
}

#img {
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 100px;
    height: 300px;
    background-image: url("../img/jebi.png");
    background-size: auto 300px;
    background-repeat: no-repeat;
}

.btn {
    font-size: 15pt;
    width: 100px;
    height: 50px;
    margin-left: 60px;
    background-color: darkgray;
    border: none;
    border-radius: 0 0;
}

#div {
    height: 400px;
}
#open {
    background-color: red;
    height: 500px;
    width: 500px;
}
p {
    font-size: 20pt;
    font: bold;
    padding-top:70px;
    margin-left: -85px;
    text-align: center;
}
