body {
    margin: 0;
}
#gray {
    height: 15px;
    background-color: darkgray;
}
h1 {
    margin: 0;
    text-align: center;
    background-color: darkgray;
    height: 50px;

}
#img {
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 100px;
    height: 300px;
}
.btn {
    font-size: 15pt;
    width: 100px;
    height: 50px;
    margin-left: 60px;
}
.hidden {
    display:none;
}