.body1 {
    width: 80%;
    margin: 0 auto;
}
.main1 {
    width: 40%;
    float: left;
    margin-right: 15%;
}
h1 {
    font-size: 5vw;
}
#add {
    font-size: 4vw;
}
#phone {
    font-size: 3vw;
}
.menu_img {
    display: block;
    width: 100%;
}
.menucard {
    display: inline-block;
    margin-top: 2%;
    margin-right: 4%;
    width: 20%
}
.header1 {
    overflow: hidden;
}
.menu_name {
    font-size: 3vw;
}
.menu_price {
    font-size: 2.5vw;
}
